.detail-item {
  width: 80%;
  height: 44px;
  border: 1px solid rgb(119, 159, 233);
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
  overflow: hidden;
}

.go-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}