.add-button {
    width: 21%;
    height: 28px;
    font-size: 12px;
    border-radius: 5px;
    background-color: rgb(133, 170, 238);
    color: #FFF;
    border-color: rgb(133, 170, 238);
    display: flex;
    justify-content: center;
}

.margin-left {
    margin-left: 10%;
}

input {
    width: 48%;
    height: 24px;
    font-size: 12px;
    border-radius: 10px;
    border-color: rgb(133, 170, 238);
}

.generator-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}




