.done-item {
    text-decoration: line-through;
}

.item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.todo-item-container .todo-item {
    width: 80%;
    height: 22px;
    border: 1px solid rgb(119, 159, 233);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.delete-icon {
    font-size: 18px;
}

.delete-icon, .edit:hover {
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
}

.edit {
    margin-right: 10px;
}

.todo-item-container {
    display: flex;
    justify-content: center;
}