.todo-item {
  width: 80%;
  height: 22px;
  border: 1px solid rgb(119, 159, 233);
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  overflow: hidden;
}