.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 3000px){
  .screen {
    width: 20vw;
  }
}

@media screen and (max-width: 1200px){
  .screen {
    width: 50vw;
  }
}

@media screen and (max-width: 767px){
  .screen {
    width: 85vw;
  }
}

@media screen and (max-width: 400px){
  .screen {
    width: 100vw;
  }
}